@font-face {
  font-family: 'OpenSans';
  src:  url('../../fonts/opensans.woff') format('woff'),
        url('../../fonts/opensans.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSansbold';
  src:  url('../../fonts/opensansbold.woff') format('woff'),
        url('../../fonts/opensansbold.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSanslight';
  src:  url('../../fonts/opensanslight.woff') format('woff'),
        url('../../fonts/opensanslight.woff2') format('woff2');
}

body {
  font-family: @font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;

  background-color: #1d2631;

  min-width: 320px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
