.clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.container() {
  width: 320px;
  margin: 0 auto;

  @media @tablet-widths {
    width: 620px;
  }

  @media @desktop-widths {
    width: 940px;
  }
}

.name__input-size() {
  width: 280px;
  height: 63px;
}

.contacts__input-size() {
  width: 280px;
  height: 63px;
}

.describe-feelings__area-size() {
  box-sizing: border-box;
  width: 280px;
  height: 200px;
  border: @describe-feelings__area-border;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 30px;
}

.describe-feelings__legend {
  display: block;
  font-family: @font-family-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
