.address {
  padding-top: 50px;
  font-style: normal;  /* Не работает */
  text-align: center;
}

.address__slogan {
  color: @address__slogan-color;
  font-family: @font-family-light;
  font-size:24px;
  font-weight: 300;
}

.address__info {

  margin-bottom: 45px;
}

.address_header {
  font-family: @font-family-bold;
  color: @address__slogan-color;
  font-size: 18px;
  font-weight: 700;

}

.address__text {
  font-family: @font-family-light;
  font-size: 24px;
  font-weight: 300;
  color: @address__text;
  text-decoration: none;

}

@media @tablet-widths {
