.contacts {
  padding-top: 40px;
  padding-bottom: 55px;
  background: white;
}

.contacts__wrapper {
  .container();
  .clearfix();
}

.contacts__label-input {
  color: @contacts__label-input-color;
  font-family: @font-family-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  padding-left: 25px;
}

.contacts__input {
  font-family: @font-family-light;
  color: @contacts__input-color-text;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  box-sizing: border-box;
  .contacts__input-size; /* mixin */

  border: @contacts__input-border;
  padding: @contacts__input-padding;
  margin-bottom: 26px;
}

.contacts__header {
  display: none;

  color: @achievements__header-color;
  font-family: @font-family-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  margin-bottom: 40px;
  text-align: center;
}

@media @tablet-widths {
  .contacts__wrapper {
    box-sizing: border-box;

    border: @contacts__wrapper-border;

    height: 310px;

    padding: 47px 60px 35px 60px;
  }

  .contacts__enter {
    position: relative;
  }

  .contacts__label-input {
    position: absolute;
    bottom: 18px;
  }

  .contacts__input {
    width: 100%;
    margin-bottom: 50px;
  }

  .contacts__header {
    display: block;
    margin-top: -55px;
    width: 260px;
    text-align: center;
    margin-left: 110px;

    background: white;
  }
}

@media @desktop-widths {
  .contacts__enter {
    display: inline-block;
    margin-right: 75px;
  }

  .contacts__input {
    width: 375px;
  }
}
