.description {
  .container();
}

.description__slogan {
  font-family: @font-family-light;
  color: @description__slogan-color;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.description__advantages {
  background-color: @description-bg;
}

.description__item {
  padding-top: 40px;
}

.description__header {
  font-family: @font-family-bold;
  color: @description-header;
  font-size: 18px;
  font-weight: 700;
}

.description__text {
  font-family: @font-family-light;
  color: @description-text-color;
  font-size: 14px;
  font-weight: 400;
}

.description__effect {
  display: none;
}


@media @tablet-widths {
  .description__slogan--shorter {
    width: 325px;
    margin: auto;

  }
  .description__advantages {
    padding-left: 300px;
  }

  .description__effect {
    display: block;
    width: 295px;
  
  }

}

@media @desktop-widths {
  .description__item {
    display: inline-block;
    vertical-align: top;

    width: 300px;
  }
  .description__advantages {
    padding-left: 0px;

  }

  .description__effect {
    display: block;
    width: 535px;
  }

}
