.describe-feelings {
  margin-top: 60px;
}

.describe-feelings__wrapper {
  .container();
  .clearfix();
}

.describe-feelings__header {
  color: @describe-feelings__header-color;
  font-family: @font-family-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  margin-bottom: 40px;
  text-align: center;

  margin-bottom: 20px;
}

.describe-feelings__area {
  .describe-feelings__area-size;

}

.describe-feelings__legend {
  color: @describe-feelings__legend;
  font-family: @font-family-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.describe-feelings__small {
  color: @describe-feelings__small-color;
}

@media @tablet-widths {
  .describe-feelings__area {
    width: 100%;
  }

  .describe-feelings__legend {
    
    float: right;
  }
}

@media @desktop-widths {

}
