.page-footer {


  margin: 0 auto;
  margin-top: 65px;

}

.page-footer__wrapper {
  .container();
}

.page-footer--hidden {
  display: none;
}

.page-footer__socials {

}

.page-footer__text {
  font-family: @font-family-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: @page-footer__text-color;
}

@media @tablet-widths {
  .page-footer--hidden {
    display: block;
  }
}

@media @desktop-widths {

}
