.page-header {
  // background-image: url("../../img/bg-back-mobile@1x.jpg");
  // background-repeat: no-repeat;
}

.page-header__header {
  font-family: @font-family-light;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
