.price {
  background: @price-bg;
  color: @price-text-color;
}

.price__wrapper {
  .container();
  .clearfix();
}


.price__description {
  background: @price__description-bg;
  text-align: center;
}

.price__header {
  font-family: @font-family-bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.price__cost {
  font-family: @font-family-light;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

.price__table {
  color: @price__table-text-color;
  border-collapse: collapse;
}

.price__column {
  border: @price__column-border;
  padding: @price__column-padding;
}

.price__option-text {
  font-family: @font-family-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  // margin-right: 125px;
}

.price__slider {
  margin: 40px auto 47px auto;
}
