.promote-app {
  // .container();

  background-color: @promote-app-bg;
  padding-top: 30px;
  min-height: 270px;
}

.promote-app__download {
  // .container();

  font-family: @font-family-bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  color: @promote-app-color-text;
}

.promote-app__text {
  // .container();

  font-family: @font-family-light;
  color: @promote-app-color-text;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}


@media @tablet-widths {

  .promote-app {
    // width: 300px;
    background: green;
  }
}

@media @desktop-widths {

  .promote-app {
    width: 310px;
    background: blue;
  }

}
