.promote-app {
  // .container();

  // background-color: @promote-app-bg;

  // padding-top: 30px;
  // min-height: 270px;

  display: flex;
  flex-direction: column;
  align-items: center;

  // background-image: url("../../img/bg-back-mobile@1x.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;

}

.promote-app-full-wrapper {
  .container();
}

.promote-app-hand {
  // background-image: url("../../img/iphone-hand-mobile@1x.png"), url("../../img/bg-back-mobile@1x.jpg");
  // // background-repeat: no-repeat;
  //
  // background-position: left bottom, center;
  // background-repeat: no-repeat;
  .container();
  background-image: url("../../img/iphone-hand-mobile@1x.png"), url("../../img/bg-back-mobile@1x.jpg");
  background-position: left bottom, center;
  background-repeat: no-repeat;

  // background-size: cover; /* Временно для наглядности!!==== */

  // align-self: flex-end;

  // width: 328px;
  // height: 545px;
  height: 400px;

}

.promote-app__wrapper-block {
  // .container();
  // .clearfix();

  padding-top: 25px;
  height: 270px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  // background-color: @promote-app-bg;
  background-color: transparent;
}

.promote-app__header {
  display: none;

  font-family: @font-family-light;
  color: @promote-app-color-text;
  font-size: 40px;
  font-weight: 300;

}

.promote-app__download {
  // .container();

  font-family: @font-family-bold;
  font-size: 18px;
  font-weight: 700;
  // line-height: 18px;
  line-height: 55px;
  text-decoration: none;
  color: @promote-app-color-text;

  text-align: center;

  height: 55px;
  border: 3px solid white;
  border-radius: 130px;
}

.promote-app__download:hover {
  color: @promote-app__download-color;
  background: white;
}

.promote-app__download:active {
  // opacity: 0.3;
  color: #f1becc;
}

// .promote-app__download-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//
//   height: 55px;
//   border: 3px solid white;
//   border-radius: 130px;
//
// }

.promote-app__download-wrapper:hover {
  background: white;
  color: @promote-app__download-color;
}

.promote-app__icons {
  display: flex;
  justify-content: space-around;
}

.promote-app__text {
  // .container();

  font-family: @font-family-light;
  color: @promote-app-color-text;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;

  width: 240px;
  align-self: center;

  margin: 0;

}

@media @tablet-widths {

  .promote-app {
    height: 620px;

    background-image: url("../../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    flex-direction: row-reverse;
  }

  .promote-app-full-wrapper {
    // .container();

    height: 620px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .promote-app__wrapper-block {
    background: transparent;

    width: 295px;
    height: 405px;
  }

  .promote-app__header {
    display: block;

    line-height: normal;
    text-align: center;
    width: 300px;
    margin: 0;
  }

  .promote-app-hand {
    background-image: none;
    background-image: url("../../img/iphone-hand-mobile@1x.png");
    background-position: left bottom;
    background-repeat: no-repeat;

    background-size: contain;
    align-self: flex-end;
    height: 545px;

  }

  .promote-app__text {
    font-size: 18px;
  }

}

@media @desktop-widths {

  .promote-app {
    height: 855px;
  }

  .promote-app-full-wrapper {
    height: 855px;
  }

  .promote-app__header {
    font-size: 50px;
    line-height: normal;
  }

  .promote-app__wrapper-block {
    width: 310px;
    justify-content: space-between;

    height: 500px;
  }

}
