.promote-app {
  // .container();

  // background-color: @promote-app-bg;

  // padding-top: 30px;
  min-height: 270px;

  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.promote-app-hand {
  // background-image: url("../../img/iphone-hand-mobile@1x.png"), url("../../img/bg-back-mobile@1x.jpg");
  // // background-repeat: no-repeat;
  //
  // background-position: left bottom, center;
  // background-repeat: no-repeat;
  .container();
  background-image: url("../../img/iphone-hand-mobile@1x.png");
  background-position: left bottom;
  background-repeat: no-repeat;

  height: 462px;

}

.promote-app__wrapper {
  .container();
  .clearfix();

  background-color: @promote-app-bg;
}

.promote-app__header {
  display: none;

  font-family: @font-family-light;
  color: @promote-app-color-text;
  font-size: 40px;
  font-weight: 300;

}

.promote-app__download {
  // .container();

  font-family: @font-family-bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  color: @promote-app-color-text;
}

.promote-app__text {
  // .container();

  font-family: @font-family-light;
  color: @promote-app-color-text;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

@media @tablet-widths {

  .promote-app {
    background-position: center -100px;
    background-size: cover;
  }

  .promote-app__header {
    display: block;
  }

  .promote-app__text {
    font-size: 18px;
  }

  .promote-app__wrapper {
    background: transparent;
  }
}

@media @desktop-widths {

  .promote-app__header {
    font-size: 50px;
  }

}
