.review__item {
  padding-top: 50px;
}

.review__author {
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 25px;
}

.reviews__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
