.reviews {
  background: white;
}

.reviews__wrapper {
  .container();
  .clearfix();
}

.reviews__item {
  position: relative;

  padding-top: 50px;
  text-align: center;
}

.reviews__author {
  font-family: @font-family-bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 25px;


}

.reviews__text {
  font-family: @font-family-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  margin-bottom: 40px;
}

.reviews__slider {
  height: 30px;
  margin-bottom: 45px;
}

.reviews__author-who {
  display: none;
}


@media @tablet-widths {
  .reviews__item {
    display: flex;
    flex-direction: column;

    // margin-bottom: 140px;
  }

  .reviews__author-desciption {
    // position: absolute;
    // bottom: -100px;
    // left: 40%;

    order: 2;
  }

  .reviews__author {
    font-size: 20px;
    font-weight: 700;
  }

  .reviews__author-who {
    display: block;

    font-size: 14px;
    font-weight: 400;
  }

  .reviews__text {
    font-size: 18px;
  }

  .reviews__slider {
    margin-bottom: auto;
    height: 75px;
  }
}

@media @desktop-widths {
  .reviews__item {
    padding-top: 190px;
    margin-bottom: 45px;
  }

}
