.what-app {
  padding-top: 40px;
  // padding-bottom: 40px;

  background: @what-app-bg;
}

.what-app__wrapper {
  .container();
  .clearfix();
}

.what-app__header {
  color: @what-app__header-color;
  font-family: @font-family-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  margin-bottom: 40px;
  text-align: center;
}

input[type="radio"] { /* Как это сделать правильно? */
  display: none;
}

input[type="radio"] + .what-app__label {
  display: block;
  font-family: @font-family-light;
  color: @name__input-color-text;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;

  // padding-left: 70px;
  margin-bottom: 35px;
  cursor: pointer;


}


input[type="radio"] + label::before {
  content: "";
  display: inline-block;

  width: 39px;
  height: 39px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;

  margin-right: 30px;

  position: relative;

}

input[type="radio"]:checked + label::before {
  content: "";
  display: inline-block;

  width: 39px;
  height: 39px;
  border: 2px solid #e5e5e5;
  background: white;
  background-image: url("../../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center;

  margin-right: 30px;
}

.what-app__header {

  margin-top: -65px;
  width: 370px;
  text-align: center;
  margin-left: 70px;

  background: white;
}

@media @tablet-widths {
  .what-app {
    background: white;
    padding-bottom: 2px;
  }

  .what-app__wrapper {
    box-sizing: border-box;

    border: @contacts__wrapper-border;

    height: 300px;

    padding-top: 55px;
    padding-left: 60px;
    padding-bottom: 55px;
  }
}

@media @desktop-widths {

}
